<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>New Doctor</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
</head>
<body>


<form th:method ="POST" th:action="@{/patients/{hospId}/save(hospId=${hospId})}" th:object="${newPat}">

  <div>
    <label for="firstName">FirstName: </label>
    <input type="text" th:field="*{firstName}" id="firstName">
  </div>
  <div>
    <label for="lastName">LastName: </label>
    <input type="text" th:field="*{lastName}" id="lastName">
  </div>
  <div>
    <label for="phoneNumber">Phone Number: </label>
    <input type="text" th:field="*{phoneNumber}" id="phoneNumber">
  </div>

  <div>
    <label for="email">Email: </label>
    <input type="email" th:field="*{email}" id="email">
  </div>
  <div>
    <label for="gender">Gender: </label>
    <input type="gender" th:field="*{gender}" id="gender">
  </div>

  <button type="submit" class="btn btn-success">Save Patient</button>
</form>
<a class="btn btn-primary mt-3" href="/views/hospitals" role="button">Go Back</a>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
crossorigin="anonymous"></script>
</html>



<!-- private String phoneNumber;
    @Enumerated (EnumType.STRING)
    private Gender gender;
    private String email;-->