<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hospital</title>
</head>
<body>


<!--<nav class="navbar bg-body-tertiary">-->
<!--  <div class="container-fluid">-->
<!--    <a class="navbar-brand">Hospital</a>-->
<!--    <form class="d-flex" role="search">-->
<!--      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">-->
<!--      <button class="btn btn-outline-success" type="submit">Search</button>-->
<!--    </form>-->
<!--  </div>-->
<!--</nav>-->



<!--    <div style="text-align:center">-->
<!--        <form th:action=" @{/hospitals/search}" method="get"-->
<!--              style="display:flex; gap: 10px;  justify-content: space-around;width: 800px; margin: 40px 0 40px 250px;  align-items: center">-->
<!--            <input style="width: 250px" type="text" name="name" placeholder="Hospital name..." th:value="${name}"/>-->
<!--            <input style="width: 250px" type="text" name="address" placeholder="Hospital address..." th:value="${address}"/>-->
<!--            <button type="submit">Search</button>-->
<!--            <button type="submit">Clear</button>-->
<!--        </form>-->
<!--    </div>-->


</body>
</html>