<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Update Hospital</title>
</head>
<body>

<form th:method="POST" th:action="@{/views/hospitals/edit/{hospitalId}(hospitalId=${currentHospital.getId()})}"th:object="${currentHospital}">
  <div>
    <label for="name">Name</label>
    <input type="text" th:field="*{name}" id="name">
  </div>
  <div>
    <label for="address">Address</label>
    <input type="text" th:field="*{address}" id="address">
  </div>
  <div>
    <label for="image">Image</label>
    <input type="text" th:field="*{image}" id="image">
  </div>
  <button type="submit">Update Hospital</button>
</form>
<a class="btn btn-primary" href="/views/hospitals" role="button">Go Back</a>
</body>
</html>