<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Departments Page</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
          rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
          crossorigin="anonymous">

</head>
<body>

<nav>
<ul>
    Department enter
</ul>
</nav>

<a class="btn btn-primary" href="/views/hospitals" role="button">Go Back</a>

<!--<div class="container" style="width: 80%; margin: 0 auto">-->
<!--    <div class="card" style="width: 18rem;"-->
<!--         th:each="department:${currentDepartment}">-->
<!--        <div class="card-body">-->
<!--            <h5 class="card-title" th:text="${currentDepartment.getName()}">Department</h5>-->
<!--            <form th:method="GET" th:action="@{/departments/{depId} (hospitalId=${currentDepartment.getId()})}">-->
<!--            </form>-->

<!--            &lt;!&ndash;                        <form th:method="GET" th:action="@{/departments/{depId}/update(hospitalId=${department.getId()})}">&ndash;&gt;-->
<!--            &lt;!&ndash;                            <input type="submit" th:value="Update">&ndash;&gt;-->
<!--            &lt;!&ndash;                        </form>&ndash;&gt;-->

<!--            &lt;!&ndash;                        <form th:method="DELETE" th:action="@{/departments/{depId}/delete (hospitalId=${department.getId()})}">&ndash;&gt;-->
<!--            &lt;!&ndash;                            <input type="submit" th:value="Delete">&ndash;&gt;-->
<!--            &lt;!&ndash;                        </form>&ndash;&gt;-->

<!--        </div>-->
<!--    </div>-->
<!--</div>-->


<!--&lt;!&ndash;<a class="btn btn-primary" th:href="@{/departments/{hospId}/new(hospId=${hospId})}" role="button" >Add Doctor</a>&ndash;&gt;-->


</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous"></script>



